#nav_bar {
    height:24px;
    border-bottom:1px solid #000;
}

#nav_bar ul {
    margin-left: 70px;
}

#nav_bar ul li {
    position:absolute;
    display:inline;
    float:left;
    color:#000;
    font-size:12pt;
    cursor:pointer;
}
