@-webkit-keyframes scale_in {
    from {
        -webkit-transform: scale(3);
    }
    to { 
        -webkit-transform: scale(1);
    }
}

@-webkit-keyframes down_emerge {
    from {
        -webkit-transform: translate(0px, -16px);
        opacity: 0.0;
    }
    to { 
        -webkit-transform: translate(0px, 0px);
        opacity: 1.0;
    }
}

@keyframes scale_in {
    from {
        transform: scale(3);
    }
    to { 
        transform: scale(1);
    }
}

@keyframes down_emerge {
    from {
        transform: translate(0px, -16px);
        opacity: 0.0;
    }
    to { 
        transform: translate(0px, 0px);
        opacity: 1.0;
    }
}

@-moz-keyframes scale_in {
    from {
        -moz-transform: scale(3);
    }
    to { 
        -moz-transform: scale(1);
    }
}

@-moz-keyframes down_emerge {
    from {
        -moz-transform: translate(0px, -16px);
        opacity: 0.0;
    }
    to { 
        -moz-transform: translate(0px, 0px);
        opacity: 1.0;
    }
}

.nav_scalein {
    -webkit-animation-name:             scale_in;
    -webkit-animation-duration:         1.6s;
    -webkit-animation-iteration-count:  once;
    -moz-animation-name:             scale_in;
    -moz-animation-duration:         1.6s;
    -moz-animation-iteration-count:  once;
}

.langsel_fadein {
    -webkit-animation-name:             down_emerge;
    -webkit-animation-duration:         1.5s;
    -webkit-animation-iteration-count:  once;
    -moz-animation-name:             down_emerge;
    -moz-animation-duration:         1.5s;
    -moz-animation-iteration-count:  once;
}

html {
    width:100%;
    height:100%;
}

body {
    min-width:1024px;
}

a {
    color:#000;
    text-decoration:none;
}

a:hover {
    color:#000;
    text-decoration:none;
}

#bg_img {
    position:fixed;
    left:0px;
    top:0px;
}

#bg_img img {
    opacity:0.9;
}

#container {
    position:absolute;
    top:0px;
    width:1024px;
    font-family:Helvetica;
}

#inner_container {
    margin-top:10px;
    height:600px;
}

#lang_sel {
    text-align:right;
    color:#000;
    font-size:9pt;
}

#lang_sel span {
    cursor:pointer;
}

#logo_container {
    text-align:center;
    visibility:hidden;
    cursor:pointer;
}

#logo_container img {
    vertical-align:middle;
    position:absolute;
}
