html {
    width:100%;
    height:100%;
    overflow-y:hidden;
}

body {
    min-width:1024px;
}

a {
    color:#000;
    text-decoration:none;
}

a:hover {
    color:#000;
    text-decoration:none;
}

#bg_img {
    position:fixed;
    left:0px;
    top:0px;
}

#bg_img img {
    opacity:0.9;
}

#container {
    position:absolute;
    top:0px;
    width:1024px;
    font-family:Geneva, Helvetica;
}

#nav_bar {
    height:24px;
    border-bottom:1px solid #000;
}

#nav_bar ul {
    margin-left: 70px;
}

#nav_bar ul li {
    display:inline;
    float:left;
    margin-left:50px;
    margin-right:50px;
    color:#000;
    font-size:12pt;
}

#inner_container {
    margin-top:10px;
    height:600px;
    padding-top:30px;
}

#left_container {
    float:left;
    width:300px;
    padding-right:15px;
    padding-bottom:50px;;
    border-right:1px solid #666;
}

#news_view_eng {
}

#news_eng_title_view {
    font-size:13px;
    font-weight:bold;
}

#news_eng_content_view {
    margin-top:20px;
    height:450px;
    font-size:11px;
    color:#555;
}

#middle_container {
    float:left;
    width:320px;
    padding-left:20px;
    padding-right:20px;
    border-right:1px solid #666;
}

#news_view_scn {
}

#news_scn_title_view {
    font-size:13px;
    font-weight:bold;
}

#news_scn_content_view {
    margin-top:15px;
    font-size:11px;
    color:#555;
    height:450px;
}

#right_container {
    float:right;
    width:300px;
    padding-left:15px;
    padding-bottom:10px;
}

#news_view_tcn {
}

#news_tcn_title_view {
    font-size:13px;
    font-weight:bold;
}

#news_tcn_content_view {
    margin-top:15px;
    font-size:11px;
    color:#555;
    height:450px;
}

#lang_sel {
    text-align:right;
    color:#000;
    font-size:9pt;
}

#lang_sel span {
    cursor:pointer;
}
