html {
    width:100%;
    height:100%;
}

body {
    min-width:1024px;
}

a {
    color:#000;
    text-decoration:none;
}

a:hover {
    color:#000;
    text-decoration:none;
}

#bg_img {
    position:fixed;
    left:0px;
    top:0px;
}

#bg_img img {
    opacity:0.9;
}

#container {
    position:absolute;
    top:0px;
    width:1024px;
    font-family:Geneva,Helvetica;
}

#nav_bar {
    height:24px;
    border-bottom:1px solid #000;
}

#nav_bar ul {
margin-left: 70px;
}

#nav_bar ul li {
    display:inline;
    float:left;
    margin-left:50px;
    margin-right:50px;
    color:#000;
    font-size:12pt;
}

#inner_container {
    margin-top:10px;
    height:600px;
}

#left_container {
    float:left;
    width:270px;
    margin-top:20px;
    padding-right:15px;
    padding-top:20px;
    padding-bottom:30px;
    border-right:1px solid #AAA;
}

#left_image {
    width:260px;
    height:280px;
}

#left_image img {
}

#left_list {
    height:200px;
    margin-top:20px;
}

#left_list_title {
    font-weight:bold;
    color:#333;
}

#left_list_items {
    height:230px;
    font-style:italic;
    color:#555;
}

#left_list_items ul {
    list-style-type:none;
    padding:0px;
}

#left_list_items ul li {
    margin-bottom:20px;
    font-size:12px;
}

#right_container {
    float:left;
    margin-top:30px;
    width:720px;
}

#right_article {
    margin-top:20px;
    padding-left:20px;
}

#right_article_title {
    font-size:18px;
    font-weight:bold;
    color:#333;
}

#right_article_content {
    margin-top:40px;
    font-size:12px;
    height:425px;
    color:#666;
}

#lang_sel {
    text-align:right;
    color:#000;
    font-size:9pt;
}

#lang_sel span {
    cursor:pointer;
}
