AddDefaultCharset UTF-8

# Lets rock!
RewriteEngine on

# For default index page
RewriteCond $1 ^()$ [OR]
RewriteCond $1 ^(/home/gzhao/public_html)$
RewriteRule ^(.*)$ /~gzhao/cgi-bin/__django_handler__/index.cgi [L]

# For rewrite /path/to/program to index.cgi/path/to/program
# we can even use path_name.py to path_name ^ ^
# everything not started with static or cgi-bin will be redirected
RewriteCond $1 !^(static|cgi-bin)
RewriteRule ^(.*)$ /~gzhao/cgi-bin/__django_handler__/index.cgi/$1 [L]

# custom 404 page
ErrorDocument 404 /~gzhao/static/pub/404.htm
ErrorDocument 403 /~gzhao/static/pub/403.htm

